{% extends 'base.html' %}

{% block leaflet_requirements %}
	{% load leaflet_tags %}
	{% load staticfiles %}
{% endblock %}

{% block leafletstyles %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block headerBOX %}
<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="{% static 'images/headerBOX/montana_1.jpg' %}">
      </div>

      <div class="item">
        <img src="{% static 'images/headerBOX/montana_2.jpg' %}">
      </div>
    
      <div class="item">
        <img src="{% static 'images/headerBOX/montana_3.jpg' %}">
      </div>

      <div class="item">
        <img src="{% static 'images/headerBOX/montana_4.jpg' %}">
      </div>

      <div class="item">
        <img src="{% static 'images/headerBOX/montana_5.jpg' %}">
      </div>
    </div>

    
  </div>
</div>
{% endblock %}

{% block main_content %}

	<div id="oasissentials-title">
		<div class="title-letter">O</div>
		<div class="title-letter">A</div>
		<div class="title-letter">S</div>
		<div class="title-letter">I</div>
		<div class="title-letter">S</div>
		<div class="title-letter">S</div>
		<div class="title-letter">E</div>
		<div class="title-letter">N</div>
		<div class="title-letter">T</div>
		<div class="title-letter">I</div>
		<div class="title-letter">A</div>
		<div class="title-letter">L</div>
		<div class="title-letter">S</div>
	</div>


<div id='mapBuffer'>
{% leaflet_map "sidemap" callback="window.map_init_basic" %}
</div>
{% endblock %}